.title {
    background-color: rgb(12, 163, 163);
    color: #FFF;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.start-btn {
    text-align: center;
    margin-bottom: 3%;
}
 